@using SSLGhost.Types

@model Ghost

@{
    ViewBag.Title = "Entrance to the Graveyard";
}

<h1>HTTPS</h1>

<h2>Entrance to the Graveyard</h2>

<p>Enter your ghostly name and skeleton key to enter the graveyard. Hint: Try casper/fear.</p>

@using (Html.BeginForm())
{
   <div>@Html.ValidationSummary()</div>
   <div>
        <div style="float: left; width: 90px;">
            @Html.LabelFor(e => e.Name, "Name:")
        </div>
        <div style="float: left;">
            @Html.EditorFor(e => e.Name)
        </div>
    </div>
    <div style="clear: both;"></div>
    
    <div>
        <div style="float: left; width: 90px;">
            @Html.LabelFor(e => e.SkeletonKey, "Skeleton Key:")
        </div>
        <div style="float: left;">
            @Html.EditorFor(e => e.SkeletonKey)
        </div>
    </div>
    <div style="clear: both;"></div>
    
    <div>
        <div style="float: left; width: 90px;">&nbsp;</div>
        <div style="float: left;">
            <input type="submit" value="Submit" />
        </div>
    </div>
}
